/* Css for header */
/* Nav header styles */
* {

    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    }
    

.navbar{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}

#logo_text {
    display: flex;
    align-items: center;
    flex-basis: 30%; 
    gap: 10px;
}

#index {
    display: flex;
    flex-basis: 70%; 
    justify-content: space-around;
}

 #clock{
    width: 90.41px;
    height:  94.52px;
 }

 #logo_text a, #index a {
    color: white; 
    font-family: 'Inter', sans-serif; 
    text-decoration: none

}

#logo_text a{
    font-weight: bold; 
    font-size: 23px; 
    text-decoration: none

}

#index a{
    font-size: 18px;
    text-decoration: none
}

/* Css for footer */

footer{
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

#page-footer-1{
    align-items: center;
    background-color: black;
    flex: 8;
    display: flex;
    justify-content: space-between;
}

#page-footer-section {
    padding: 20px;
    flex: 1;  
}

#page-footer-section p{
    color: white;
    font-size: 18px;
    padding: 15px;
}


#page-footer-2{
    align-items: center;
    background-color: #87ceeb;
    flex: 2;
    display: flex;
    
}

#page-footer-2-1 {
    padding-left: 20px;
    font-size: 25px;
    flex-grow: 1; 
    text-align: center;
}

#page-footer-2-2 {
    padding-right: 50px;
}

#page-footer-section .page-footer-section-head { 
    font-size: 30px;
}
  
form {
  margin: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #87CEEB;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.container {
  display: flex;
}

.annotation {
  flex: 1;
  margin: 1rem;
}

.calendar {
  margin: 1rem;
  text-align: right;
}
.calendar table {
  border-collapse: collapse;
  background-color: wheat;
  border: none;
  border-radius: 10px;
}
.calendar th{
    border: 1px solid black;
    padding: 3rem;
    text-align: center;
    border: none;
    font-size: large;
}

.calendar td {
  border: 1px solid black;
  padding: 3rem;
  text-align: center;
  border: none;
  font-size: small;
  border: none;
  border-radius: 10px;
}

.calendar td:hover {
    background-color: rgb(0, 129, 172); /* Change color on hover */
}

.popup {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 999; 
  text-align: left;
}

.busy {
  background-color: #FFD8DA;
  background-size: 75% 75%;
}

.busy {
    background-color: #FFD8DA;
    background-size: 75% 75%;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #FFD8DA;
  }